.jobboard-jobs(style="display: none")
  .page-header: .row.align-items-center
    .col-auto
      .page-title Opportunities
    .col-auto
      .jobs-total-results.text-muted.text-h5 0 results
    .col-auto.ml-auto
      a.btn-filters.btn.btn-light.d-md-none Filters
      a.btn-create-opp.btn.btn-primary.ml-3.d-none.d-sm-inline-block(href="#create")
        i.icon(data-feather="star") 
        | Add opportunity
      a.btn-create-opp.btn.btn-primary.ml-3.d-sm-none(href="#create") Add

  .row
    .filters.col-md-3.d-none.d-md-block.dimmer
      .loader
      .dimmer-content
        .subheader.mb-2 Opportunity Type
        .list-group.list-group-transparent.mb-3
          a.bounty-type.list-group-item.list-group-item-action.d-flex.align-items-center.active(href="#", data-type="All") All
            small.text-muted.ml-auto(data-total="All") 0
          each val in ['Bug', 'Feature', 'Improvement', 'Security', 'Documentation', 'Design', 'Code Review', 'Other']
            a.bounty-type.list-group-item.list-group-item-action.d-flex.align-items-center(data-type=val, href="#")= val
              small.text-muted.ml-auto(data-total=val) 0

        .subheader.mb-2 Experience Level
        .list-group.list-group-transparent.mb-3
          a.exp-level.list-group-item.list-group-item-action.d-flex.align-items-center.active(href="#", data-level="All") All
            small.text-muted.ml-auto(data-total="All") 0
          each val in ['Beginner', 'Intermediate', 'Advanced']
            a.exp-level.list-group-item.list-group-item-action.d-flex.align-items-center(data-level=val, href="#")= val
              small.text-muted.ml-auto(data-total=val) 0

    .col-md-9
      .card.dimmer.active
        .loader
        .dimmer-content
          .card-header: .card-title Opportunities
          .list.list-row.list-hoverable.jobs-list