+pageHeader('Home', 'mdi-home', [{title: 'My DAO Name', link: './'}, {title: 'Home'}])

.row.mt-5
  .col-md-6.stretch-card.grid-margin
    a.card.bg-primary.card-img-holder.text-white(href="./tokens.pug")
      .card-body
        img.card-img-absolute(src="./assets/images/leaves.png", alt="")
        h2.font-weight-normal.mb-5.mt-5 Token Holders
          i.mdi.mdi-contacts.float-right

  .col-md-6.stretch-card.grid-margin
    a.card.bg-info.card-img-holder.text-white(href="./votes.pug")
      .card-body
        img.card-img-absolute(src="./assets/images/leaves.png", alt="")
        h2.font-weight-normal.mb-5.mt-5 Votes
          i.mdi.mdi-format-list-bulleted.float-right