.page-dashboard(style="display: none;")
  .page-header: .row.align-items-center
    .col-auto
      .page-pretitle Dashboard
      .page-title

  .row
    .col-md-6: a.card(href="#/tokens"): .card-body: .dimmer.active
      .loader
      .dimmer-content.d-flex.align-items-center
        span.bg-blue.text-white.stamp.mr-3
          i.icon(data-feather="users")
        .mr-3.lh-sm
          .strong
            span.users
            |  Community members
          .text-muted
            span.users-vault
            |  with voting power

    .col-md-6: a.card(href="#/tokens"): .card-body: .dimmer.active
      .loader
      .dimmer-content.d-flex.align-items-center
        span.bg-green.text-white.stamp.stamp-lg.mr-3
          i.icon(data-feather="bar-chart-2")
        .mr-3.lh-sm
          .strong
            span.minted
            span.ticker
            |  minted
          .text-muted
            span.mint-waiting
            |  waiting in votes

    .col-md-6: a.card(href="#/vault"): .card-body: .dimmer.active
      .loader
      .dimmer-content.d-flex.align-items-center
        span.bg-dark.text-white.stamp.mr-3
          i.icon(data-feather="lock")
        .mr-3.lh-sm
          .strong
            span.vault
            span.ticker
            |  locked
          .text-muted
            span.vault-waiting
            |  waiting in votes

    .col-md-6: a.card(href="#/votes"): .card-body: .dimmer.active
      .loader
      .dimmer-content.d-flex.align-items-center
        span.bg-yellow.text-white.stamp.mr-3
          i.icon(data-feather="check-circle")
        .mr-3.lh-sm
          .strong
            span.votes 
            |  Active votes
          .text-muted
            span.votes-completed
            |  completed