include mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Community
  body.antialised(style="display: none")
    .page
      include partials/navbar

      .content
        .container-xl
          block content

        include partials/footer

    
    div(aria-live="polite", aria-atomic="true", style="position: fixed; min-height: 200px;")
      .toast-container(style="position: fixed; top: 20px; right: 20px;")

    block scripts
      script(src="./assets/scripts/app.ts")