include mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DAO Garden
  body.antialised
    block vars
      - var page = 'home'

    .page
      include partials/navbar

      .content
        .container-xl
          block content

        include partials/footer

    block scripts
      script(src="./assets/scripts/app.ts")