.page-opportunity(style="display: none;")
  .page-header: .row.align-items-center
    .col-auto
      .page-pretitle Opportunities
      .page-title

  .row
    .col
      .card.dimmer.active
        .loader
        .dimmer-content
          .card-header: .card-title Opportunities
          .list.list-row.list-hoverable.jobs-list