.page-tokens(style="display: none")
  .page-header: .row.align-items-center: .col-auto
    .page-pretitle Tokens
    .page-title DAOName

  .box: .card Token INFO

  .box: .card: .dimmer.active
      .loader
      .dimmer-content
        .table-responsive: table.table.table-vcenter.card-table
          thead
            tr
              th Token Holder
              th Balance
              th Vault Balance
              th Total Balance
              th Role
              th.w-1

          tbody
            tr