.page-tokens(style="display: none")
  .page-header: .row.align-items-center: .col-auto
    .page-pretitle Tokens
    .page-title DAOName

  .row
    .col-md-6
      .card
        .card-header
          .card-title Token info
        .card-body
          .dimmer.active
            .loader
            .dimmer-content            
              .mb-3.d-flex.align-items-center
                .strong Token name
                .token.ml-auto

              .mb-3.d-flex.align-items-center
                .strong Total supply
                .minted.ml-auto 0

              .mb-3.d-flex.align-items-center
                .strong Tokens in Vault
                .vault.ml-auto 0

    .col-md-6
      .card
        .card-body
          .dimmer.active
            .loader
            .dimmer-content
              #chart-total-tokens


  .card
    .card-header
      .card-title Token Holders
    .dimmer.active
      .loader
      .dimmer-content
        .table-responsive: table.token-holders.table.table-vcenter.card-table
          thead
            tr
              th Token Holder
              th Balance
              th Vault Balance
              th Total Balance
              th.d-none.d-lg-table-cell Role
              th.w-1

          tbody
            tr

    //- TODO: Add pagination