footer.footer.footer-transparent: .container: .row.text-center.align-items-center.flex-row-reverse
  .col-lg-auto.ml-lg-auto: ul.list-inline.list-inline-dots.mb-0
    li.list-inline-item
      a.link-secondary(href="https://github.com/CommunityXYZ/" target="_blank") Open-Source
  .col-12.col-lg-auto.mt-3.mt-lg-0 Copyright &copy; 2020 
    a.link-secondary(href="https://community.xyz") CommunityXYZ
    | . All rights reserved.