include pages/mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Communities - CommunityXYZ
  body.antialised: .page
    .content
      .container-xl
        .text-center: a(href="./")
          img(src="./assets/images/logo.svg" alt="CommunityXYZ", width="250px")

        .empty
          h1.mb-3 Communities
          h2.mb-5.text-muted Here is a list of existing communities, go visit them to learn more about their project and what they are about.
          .row(style="width: 80%")
            .col-md-12.col-lg-4.mb-3
              a.btn.btn-outline-primary.btn-block.home(href='#')
                i.icon(data-feather="home")
                | Home
            .col-md-6.col-lg-4.mb-3
              a.btn.btn-outline-primary.btn-block.create(href='#')
                i.icon(data-feather="zap")
                | Create Community
            .col-md-6.col-lg-4.mb-5
              a.btn.btn-outline-primary.btn-block.opp(href='#')
                i.icon(data-feather="briefcase")
                | Opportunities
      
        .container
          .row.opps-cards: .col-12
            .card
              .card-body
                h4 
                  span.loaded(style="display: none") [#[span.completed 0]/#[span.total]]  
                  | Please wait while we load all the Communities...
                .progress
                  .progress-bar(style="width: 0%")

      include pages/partials/footer
    script(src="./assets/scripts/communities.ts")