include pages/mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Community
  body.antialised.border-top-wide.border-primary.d-flex.flex-column
    .flex-fill.d-flex.flex-column.justify-content-center
      .container-tight.py-6
        .text-center.mb-4
          img(src="./assets/images/logo.png", width="300")

        .mining(style="display: none")
          .card
            .card-header: .card-title Creating Community
            .card-body
              p Your Community is under creation, please wait.
              a.mining-btn.btn.btn-primary.disabled(href="#!")
                .spinner-border.spinner-border-sm.mr-2(role="status")
                | Mining your Community

        .card.create-steps
          .card-header
            .card-title Create a new Community
          
          .card-body
            .row
              .col-xs-12.step1
                .mb-3
                  .form-label Wallet Key File
                  .form-file
                    input#wallet.form-file-upload(type="file", style="display: none;")
                    label.form-file-label(for="wallet")
                      span.form-file-text Choose a wallet...
                      span.form-file-button Browse

                .mb-3
                  .form-label Wallet Address
                  .addy.form-control-plaintext -
                .mb-3
                  .form-label Wallet Balance: 
                  .form-control-plaintext
                    span.bal 0
                    |  AR

              .col-xs-12.step2
                .mb-3
                  label.form-label(for="communityname") Community Name
                  .row.row-sm
                    .col
                      input#communityname.form-control(type="text")
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="What's your Community organization's name.", data-html="false") ?
                  
                .mb-3
                  label.form-label(for="psttoken") PST Token Ticker
                  .row.row-sm
                    .col
                      input#psttoken.form-control(type="text", style="text-transform: uppercase;")
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="<p>Token Symbol or ticker (in capital letters).</p> <p class=\"mb-0\">Example: GAR</p>", data-html="true") ?

                .holders.mb-3
                  .form-label Token Holders 
                    a.add-holders(href="#!"): i.feather-16(data-feather="plus-circle")
                  .table-responsive
                    table.table.table-vcenter.table-mobile-md.card-table
                      thead: tr
                        th Token Holder
                        th Balance
                      tbody: tr
                        td(data-label="Token Holder")
                          input.holder.form-control(type="text")
                        td(data-label="Balance")
                          .input-group
                            input.holder-balance.input-number.form-control(type="text", value="0")
                            span.input-group-text.ticker

              .col-xs-12.step3
                .mb-3
                  label.form-label(for="support") Support
                  .row.row-sm
                    .col
                      .input-group
                        input#support.form-control.input-number.percent(type="text", value="50")
                        span.input-group-text %
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="Support is the relative percentage of tokens that are required to vote “Yes” for a proposal to be approved. For example, if “Support” is set to 50%, then more than 50% of the tokens used to vote on a proposal must vote “Yes” for it to pass.") ?

                .mb-3
                  label.form-label(for="quorum") Quorum
                  .row.row-sm
                    .col
                      .input-group
                        input#quorum.form-control.input-number.percent(type="text", value="50")
                        span.input-group-text %
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="Quorum is how much of the vault weight is required to vote on a proposal to be approved. For example, if “Quorum” is set to 50%, then more than 50% of the vault weight must vote for it to pass.") ?

                .mb-3
                  label.form-label(for="voteLength") Vote Length
                  .row.row-sm
                    .col
                      .input-group
                        input#voteLength.form-control.input-number(type="text", value="2000")
                        span.input-group-text BLOCKS
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="For how many blocks a proposal is considered active and able to vote on it.") ?

                .mb-3
                  label.form-label(for="lockMinLength") Lock Minimum Length
                  .row.row-sm
                    .col
                      .input-group
                        input#lockMinLength.form-control.input-number(type="text", value="720")
                        span.input-group-text BLOCKS
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="What is the minimum allowed lock time (in blocks) for each locked token.") ?

                .mb-3
                  label.form-label(for="lockMaxLength") Lock Maximum Length
                  .row.row-sm
                    .col
                      .input-group
                        input#lockMaxLength.form-control.input-number(type="text", value="720")
                        span.input-group-text BLOCKS
                    .col-auto.align-self-center
                      span.form-help(data-toggle="popover", data-placement="top", data-content="What is the maximum allowed lock time (in blocks) for each locked token.") ?

              .col-xs-12.step4
                h4 Have a look at your settings and click Launch Community when ready.

                .card
                  ul.nav.nav-tabs.nav-fill(data-toggle="tab")
                    li.nav-item
                      a.nav-link.active(href="#general", data-toggle="tab") General
                    li.nav-item
                      a.nav-link(href="#voting", data-toggle="tab") Voting
                    li.nav-item
                      a.nav-link(href="#tokens", data-toggle="tab") Tokens

                  .card-body
                    .tab-content
                      #general.tab-pane.active.show
                        .mb-3
                          .form-label Community Name
                          .form-control-plaintext.communityname
                        .mb-3
                          .form-label Wallet Address
                          .form-control-plaintext.addy
                        .mb-3
                          .form-label Wallet Balance
                          .form-control-plaintext
                            span.bal
                            |  AR
                        .mb-3
                          .form-label Community Creation Cost
                          .form-control-plaintext
                            span.cost
                            |  AR

                      #voting.tab-pane
                        .mb-3
                          .form-label Support
                          .form-control-plaintext
                            span.support 
                            |  %

                        .mb-3
                          .form-label Quorum
                          .form-control-plaintext
                            span.quorum 
                            |  %

                        .mb-3
                          .form-label Vote Length
                          .form-control-plaintext
                            span.voteLength 
                            |  blocks

                        .mb-3
                          .form-label Vault Lock Min Length
                          .form-control-plaintext
                            span.lockMinLength 
                            |  blocks

                        .mb-3
                          .form-label Vault Lock Max Length
                          .form-control-plaintext
                            span.lockMaxLength 
                            |  blocks

                      #tokens.tab-pane
                        .mb-3
                          .form-label PST Ticker
                          .form-control-plaintext.ticker

                        .mb-3
                          .form-label Token Holders
                          .show-holders.responsive-table
                            table.table.table-vcenter.table-mobile-xl.card-table
                                thead: tr
                                  th Token Holder
                                  th Balance
                                tbody: tr

                .mt-3
                  label.form-check
                    input#confirm.form-check-input(type="checkbox")
                    span.form-check-label I reviewed my Community and It's ready for deploy.

                  label.form-check
                    input#aknowledge.form-check-input(type="checkbox")
                    span.form-check-label The smartweave contract for this project has been audited by professional security teams. But there may still has unexpected risks. I understand these risks.

          .card-footer.text-right
            .d-flex
              a.back.btn.btn-link Back
              button.continue.btn.btn-primary.ml-auto(disabled) Continue

    script(src="./assets/scripts/create.ts")