include pages/mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CommunityXYZ
  body.antialised: .page
    header.navbar.bg-transparent
      .container-xl
        a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3(href="./")
          img.navbar-brand-image(src="./assets/images/logo.png" alt="CommunityXYZ")

        .navbar-nav.flex-row.order-md-last
          .nav-item
            a.create.btn.btn-primary.create(href='#')
              i.icon(data-feather="zap")
              | Create community

    .content
      .container-xl.d-flex.flex-column
        .empty
          h1.mb-3 Your permaweb community
          h2.mb-5.text-muted Decentralized, Permanent, Clean
          .empty-icon
            object.h-8.mb-4(type="image/svg+xml" data="./assets/illustrations/undraw_Group_chat_unwm.svg")

          p.h3 Create your community on top of the Arweave network with CommunityXYZ and easily manage your PST holders.

      .container-xl
        .row
          .col-md-6.mb-3
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_best_place_r685.svg")
                .col-md-8
                  h3 SmartWeave Contract
                  p.text-muted Your community is fully decentralized using a #[a(href="#", target="_blank") SmartWeave] contract. You can be sure that your data is stored forever on the permaweb and that your token holders can't make a decition without having a vote first.

          .col-md-6.mt-5
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Interact from anywhere
                  p.text-muted #[a(href="#", target="_blank") CommunityJS] let you interact with your community right from your app. It doesn't matter if it's decentralized service, you can extend your app or interact with your community right from there.

                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_code_inspection_bdl7.svg")

          .col-md-6.mb-3
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_data_trends_b0wg.svg")
                .col-md-8
                  h3 Intuitive dashboard
                  p.text-muted See what's happening on your community right from the dashboard. How many members or minted minted tokens a community has. How much is locked in the vault and how many votes are active or completed.

          .col-md-6.mt-5
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Token holders
                  p.text-muted See stats about your community token and get to know your token holders. See your top holders and the entirety of your token holders, the amount they hold and have locked in vault.
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_status_update_jjgk.svg")

          .col-md-6.mb-3
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="text/plain", data="./assets/illustrations/undraw_voting_nvu7.svg")
                .col-md-8
                  h3 Voting system
                  p.text-muted Vote on proposals to mint tokens, mint locked tokens, burn vault, update your community or an indicative type. Set your custom requirements for a vote to pass or fail.

          .col-md-6.mt-5
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Vault System
                  p.text-muted To be able to vote on your community, token holders need to lock their balance in a vault. The more they lock and the higher they lock it for, the more weight they have while voting.
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_vault_9cmw.svg")

        .mt-5.mb-5.text-center
          h2 Don't wait any longer and start experiencing CommunityXYZ
          p: a.create.btn.btn-primary.btn-lg(href="#") 
            i.icon(data-feather="zap")
            | Create my community

      include pages/partials/footer
    script(src="./assets/scripts/home.ts")