include pages/mixins/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CommunityXYZ
  body.antialised: .page
    header.navbar.bg-transparent
      .container-xl
        a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3(href="./")
          img.navbar-brand-image(src="./assets/images/logo.png" alt="CommunityXYZ")

        .navbar-nav.flex-row.order-md-last
          .nav-item
            a.create.btn.btn-primary.create(href='#')
              i.icon(data-feather="zap")
              | Create community

    .content
      .container-xl.d-flex.flex-column
        .empty
          h1.mb-3 Start and Manage your Permaweb Community
          h2.mb-5.text-muted Communities built on the Arweave network offer better incentives and flexibility for founders and contributors.
          .empty-icon
            object.h-8.mb-4(type="image/svg+xml" data="./assets/illustrations/undraw_Group_chat_unwm.svg")

          p Communities flip the ownership model from investors to innovators with Profit Sharing Tokens (PSTs). All token holders earn a share of profits in real time and can influence their application’s direction through voting. Learn more about #[a(href="http://arweave.org/psc", target="_blank") Profit Sharing Communities].

      .container-xl
        .row.align-items-start
          .col-md-6
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_best_place_r685.svg")
                .col-md-8
                  h3 SmartWeave Contract
                  p.text-muted Your Community runs fully decentralized using a #[a(href="https://github.com/CommunityXYZ/contract", target="_blank") SmartWeave] contract. This ensures that data is stored forever on the permaweb and that applications evolve as governed through token holder voting.
                  
          .col-md-6.mt-3
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Interact from anywhere
                  p.text-muted #[a(href="https://github.com/CommunityXYZ/community-js", target="_blank") CommunityJS] gives you easy access to every Profit Sharing Community function, such as voting or minting tokens for new contributors. We designed this for decentralized permaweb applications, however it can also interact with centralized servers.

                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_code_inspection_bdl7.svg")

          .col-md-6
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_data_trends_b0wg.svg")
                .col-md-8
                  h3 Intuitive dashboard
                  p.text-muted Get a snapshot of your Community activity from a simple, intuitive dashboard. Access info such as: Number of contributors or users are in the Community. Number of outstanding tokens. Or check governance like the number of Contributor proposals in active voting or completed.

          .col-md-6.mt-3
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Review ownership data
                  p.text-muted Get to know the token holders in your Community. Think of it like a transparent cap-table! Review token ownership breakdown, profit distribution, and what is held in wallets versus vaults. 

                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_status_update_jjgk.svg")

          .col-md-6
            .card
              .card-body.row.align-items-center
                .col-md-4
                  object(type="text/plain", data="./assets/illustrations/undraw_voting_nvu7.svg")
                .col-md-8
                  h3 Voting and Governance
                  p.text-muted Everyone has a say! Voting power is a function of how many tokens held and for how long. Setup rules for proposals, minting new tokens, and burning tokens. You can also specify requirements on how votes pass or fail.

          .col-md-6.mt-3
            .card
              .card-body.row.align-items-center
                .col-md-8
                  h3 Vault System
                  p.text-muted To be able to vote on your community, token holders need to lock their balance in a vault. The more they lock and the longer the lockup period, the more weight they have while voting.

                .col-md-4
                  object(type="image/svg+xml", data="./assets/illustrations/undraw_vault_9cmw.svg")

        .mt-5.mb-5.text-center
          h2 Don't wait any longer and start experiencing CommunityXYZ
          p: a.create.btn.btn-primary.btn-lg(href="#") 
            i.icon(data-feather="zap")
            | Create my community

      include pages/partials/footer
    script(src="./assets/scripts/home.ts")