extends pages/layout

block scripts
  script(src="./assets/scripts/votes.ts")

block vars
  - var page = 'votes'

block content
  +pageHeader('Votes', 'mdi-format-list-bulleted', [{title: 'My DAO Name', link: './'}, {title: 'Votes'}])

  +spinner

  .row.votes.hidden