/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + Badge Mixins
    + Button Mixins
    + Miscellaneous Mixins
    + BlockQuote Mixins
    + Cards Mixins
    + Color Functions Mixins
    + Tooltips
    + popovers
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Backgrounds
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
  * Components
    + Badges
    + Boostrap Progress
    + Buttons
    + Breadcrumbs
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Preview
    + Tables
    + Todo List
  * Landing screens
    + Auth
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import './variables';

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "~bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "./mixins/misc";
@import "./mixins/animation";
@import "./mixins/background";
@import "./mixins/badges";
@import "./mixins/blockqoute";
@import "./mixins/buttons";
@import "./mixins/breadcrumbs";
@import "./mixins/cards";
@import "./mixins/pagination";
@import "./mixins/popovers";
@import "./mixins/tooltips";
@import "./mixins/text";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "./reset";
@import "./fonts";
@import "./functions";
@import "./typography";
@import "./misc";
@import "./footer";
@import "./utilities";
@import "./demo";
@import "./dashboard";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "./components/badges";
@import "./components/bootstrap-progress";
@import "./components/buttons";
@import "./components/breadcrumbs";
@import "./components/cards";
@import "./components/checkbox-radio";
@import "./components/dropdown";
@import "./components/forms";
@import "./components/icons";
@import "./components/lists";
@import "./components/preview";
@import "./components/tables";
@import "./components/todo-list";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "./landing-screens/auth";


@import './navbar';
@import './sidebar';
@import './layouts';
@import './vertical-wrapper';

@import './spinner';

a.card {
  text-decoration: none;
}

.gridjs-pagination .gridjs-pages {
  float: none;
  text-align: center;
}

.votes {
  transition: opacity 500ms;

  &.hidden {
    opacity: 0;
    height: 200px;
    overflow: hidden;
  }
}

.card-category {
  margin-bottom: 10px;

  .btn {
    font-size: 0.8rem;
    line-height: 0;
    cursor: default;
  }
}

.card.card-body {
  position: relative;
}

.vote-btns, .vote-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.step2, .step3, .step4 {
  display: none;
}

.strong {
  font-weight: bold;
}

// Icons
.gg-trees {
  color: #64c039;
}